:root {
    --white: #FFFFFF;
    --black: #000000;
    --yellow: #FFCD00;
    --yellow_light: #FFF5CC;
    --blue_main: #00A0E2;
    --blue_light1: #6AD3FF;
    --blue_light2: #66C6EE;
    --blue_1: #0297D4;
    --blue_2: #077AA9;
    --violet: #9747FF;
    --grey_light1: #F2F4F8;
    --grey_light2: #B3C8D1;
    --grey_1: #777777;
    --grey_2: #586C75;
    --grey_3: #4A585E;
    --grey_dark: #1B1E1F;
    --red: #B80101;
}