.button {
    background: var(--blue_main);
    border: none;
    border-radius: 28px;
    display: block;
    text-align: center;
    margin: auto 0;
    padding: 16px 36px;
    color: var(--white);
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
    text-decoration: none;
    transition: all .5s;
    &:hover {
        background: var(--blue_1);
        color: var(--white);
    }
    &:active {
        background: var(--blue_2);
    }
    &:disabled {
        background: var(--grey_light2);
    }
    &_w335 {
        width: 335px;
    }
    &_border {
        background: none;
        border: 1px solid var(--blue_main);
        color: var(--blue_main);
        &.active {
            background: var(--blue_main);
            border: none;
            color: var(--white);
        }
    }
    &_small {
        width: 52px;
        height: 52px;
        border-radius: 6px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        font-weight: 700;
    }
}

